{{#if addNewComment}}
<h1>New Comment</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        {{input value=rating id="rating"}}
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content"}}
      </div>
      <button {{action 'saveComment1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-info"{{action 'commentFormShow'}}>New Comment</button>
{{/if}}
