{{#if addNewPost}}
  <h1>Add new blog post</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        {{input value=image id="image"}}
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        {{input value=location id="location"}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        {{input value=category id="category"}}
      </div>

      <button class="btn btn-primary" {{action 'savePost1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-success" {{action 'postFormShow'}}>New Post</button>
{{/if}}
