<li>
  <div class="blogpost">
    <p><img src={{post.image}} alt={{post.location}}></p>
    <p>{{post.content}}</p>
    <p class="link-display">{{#link-to 'post' post.id}}Posted by {{post.author}} at {{post.location}}{{/link-to}}</p>
    {{update-post post=post update="update"}}
  </div>
</li>
