<div class="about">
  <h1>Ken and James' Camping Blog</h1>
  <p>Camping Rocks||Ember Blows was started in 2017 as a resource for people who are seeking to share or gain information, knowledge, advice or anything else about locations, equipment, techniques or other camping related things.</p>
</div>


<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post savePost2="savePost3"}}

<h2> All Comments </h2>

<ul>
  {{#each model.comments as |comment|}}
    <li class="comment">Rating: {{comment.rating}} - "{{comment.content}}" - by {{comment.author}}</li>
  {{/each}}
</ul>
